# Ignores TypeScript files, but keeps definitions.
*.ts
!*.d.ts
!src/**/files/**/*.ts
.env

# Misc
node_modules/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
kompose-*
bin/composer/composer*
.env

# IDEs
.idea/
jsconfig.json
.vscode/