*.log
src/vendor
src/wp
src/wp-content/plugins/
src/wp-content/themes/

# If you are developing a plugin or a theme add something like
# !src/wp-content/themes/your-theme-name
# !src/wp-content/plugins/your-pluginn-name
# to avoid that your code is ignored by git